 body {
      font-family: Arial;
      background: #eef2f7;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    #form-box {
      background: white;
      padding: 20px;
      width: 320px;
      border-radius: 10px;
      box-shadow: 0 0 10px gray;
    }

    button {
      width: 30px;
      padding: 10px;
      background: #007bff;
      color: white;
      border: none;
      cursor: pointer;
      
    }

    button:hover {
      background: #0056b3;
    }
