* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    color: rgb(39, 32, 32);
}
.logo span {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.logo span i {
    width: 60px;
    height: 60px;
    color: seagreen;
    padding: 20px 0 0 40px;
    
}
.navbar ul {
    display: flex;
    
}
.navbar ul .nav-links{
    list-style: none;
    padding: 14px; 
}
.navbar ul .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 530;
    font-size: 15px;
    align-items: center;
    text-align: center;
    transition: 0.7s;
}
.navbar ul .nav-links a:hover {
    text-decoration: underline;
    font-weight: 540;
}
.btn1 button {
    padding: 6px;
    border-radius: 16px;
    background-color: white;
    border: 2px solid rgb(203, 186, 186);
   margin-top: 13px;
   margin-left: 50px;
}
.btn1 button:hover {
    transition: 0.7s;
    cursor: pointer;
    background-color: black;
    color: white;
}
.btn2 button {
    padding: 6px;
    border-radius: 16px;
    background-color: seagreen;
    border: 2px solid rgb(180, 169, 169);
    margin-top: 13px;
    color: white;
    margin-right: 60px;
    gap: 0;
}
.btn2 button:hover {
    transition: 0.7s;
    cursor: pointer;
    background-color: white;
    color: black;
}
.hero-section {
    background-image: url('Assests/bg-1.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 95vh;
    
}
.hero-text {
    display: flex;
    justify-content: space-around;
}
.hero-text div h1 {
  font-size: 45px;
  font-weight: 900;
  margin: 100px 0 20px 30px;
  color: rgb(122, 118, 118);
}
.hero-text div p {
    margin: 0 0 10px 30px;
    font-size: 16px;
    color: rgb(52, 48, 48);
}
.hero-text div button {
    margin: 0 0 10px 30px;
    padding: 8px;
    border: none;
    border-radius: 16px;
    color: rgb(58, 55, 55);
    transition: 0.7s;
    cursor: pointer;
}
.hero-text div button:hover{
    background: black;
    color: white;
}
.hero-section div img {
    width: 400px;
    height: 320px;
    border-radius: 20px;
    margin: 100px 0 0 150px ;
}
.card {
    background-color: white;
    display: flex;
    padding-bottom: 50px;
    margin: 50px 0 50px 50px;
    border-radius: 20px;
}
.card div h4 {
    font-size: 30px;
    margin-left: 25px;
}
.img-part {
    display: flex;
    flex-direction: column;
}
.quality {
    display: flex;
    margin: 80px 0 80px 0;
    justify-content: space-evenly;
}
.quality h2 {
    font-size: 26px;
    font-weight: 400;
    margin: 10px 20px 10px 30px;
}
.quality h2 span {
    color: rgb(191, 184, 184);
}
.logos {
    display: flex;
    justify-content: space-around;
}
.logos div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgb(190, 183, 183);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(230, 227, 227);
    transition: 0.7s;
    cursor: pointer;
}
.logos div img {
    width: 50px;
    height: 50px;
    margin-top: 30px;
}
.logos div:hover {
   background-color: white;
}
.container {
   justify-content: center; 
   text-align: center;
   align-items: center;
   background-color: whitesmoke;
}
.container h2 {
   font-size: 26px;
   font-weight: 400;
   margin: 40px 0 40px 0;
}
.container h2 span {
    color: rgb(191, 184, 184);
}
.container-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: center;
    margin: 100px 0 100px 0;
}
.container-cards .cards {
    width: 350px;
    height: 150px;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
}
.container-cards .cards:hover {
    transition: 0.7s;
    background-color: rgb(220, 216, 216);
    cursor: pointer;
}
.container-cards .cards img {
    width: 20px;
    height: 20px;
}
.services {
    display: flex;
    justify-content: space-evenly;
}
.service-heading h2 {
    font-size: 26px;
    font-weight: 400px;
    margin: 30px 0 30px 0;
}
.service-heading h2 span {
    color: rgb(191, 184, 184);
}
.service-heading button {
    padding: 8px;
    border-radius: 16px;
    border: none;
    color: white;
    background-color: rgb(15, 117, 15);
}
.service-heading button:hover{
    background-color: whitesmoke;
    transition: 0.7s;
    cursor: pointer;
    color: black;
}
.service-cards {
    display: grid;
    grid-template-columns: auto auto;
    margin: 50px 0 50px 0;
}
.service-cards .detail-card {
    width: 130px;
    height: 130px;
    margin: 10px;
    border-radius: 12px;
    border: 2px solid rgb(230, 224, 224);
}
.detail-card h5 {
    margin: 8px;
    color: rgb(191, 184, 184);
}
.detail-card h4{
    margin: 6px;
}
.detail-card a {
    margin: 6px;
    color: black;
}
.service-img img {
    margin: 80px 0 0 0;
    border-radius: 20px;
}
.medtronic {
   justify-content: center;
    align-items: center;
}
.medtronic h2 {
    font-size: 26px;
    font-weight: 400px;
    margin: 30px 0 30px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.medtronic h2 span {
   color: rgb(191, 184, 184); 
}
.medtronic-card {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(216, 212, 212);
    width: 750px;
    height: 250px;
    margin-left: 250px;
    border-radius: 20px;

}
.medtronic-blog h4 {
    margin: 10px 10px 50px 10px;
    font-weight: 500;
}
.medtronic-blog p {
    font-size: 13px;
    margin: 10px;
}
.medtronic-blog button {
    padding: 6px;
    border-radius: 16px;
    border: none;
    color: white;
    background-color: rgb(15, 117, 15);
}
.medtronic-blog button:hover {
    background-color: whitesmoke;
    transition: 0.7s;
    cursor: pointer;
    color: black;
}
.medtronic-blog h5 {
    font-weight: 500;
    margin: 10px;
}
.medtronic-blog h5 span {
    color: rgb(191, 184, 184);

}
.medtronic-img img {
    width: 240px;
    height: 240px;
    border-radius: 16px;
    margin-top: 10px;
}
.footer {
    background-color: black;
    color: white;
}
.footer-text {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0 0 0;
}
.left-part h2 {
    font-size: 26px;
    font-weight: 400;
    margin: 30px 0 30px 0;
}
.left-part h2 span{
    color: rgb(172, 168, 168); 
}
.left-part span {
    display: flex;
    margin: 20px 0 20px 0;
}
.left-part span i {
    color:seagreen;
}
.right-part p {
    margin: 30px 0 30px 0;
}
.right-part button {
    padding: 6px;
    border-radius: 16px;
    border: none;
    background-color: white;
}   
.right-part button:hover {
    cursor: pointer;
    transition: 0.7s;
    background-color: black;
    color: white;
    border: 1px solid white;
}
.social-icons {
    display: flex;
    justify-content: space-evenly;
}
.footer-logo{
    display: flex;
    margin: 20px 0 20px 0;
}
.footer-logo span i {
   margin: 0 0 -90px -20px;
   color: seagreen;
}
.footer-logo span h2 {
   margin: -20px 0 0 0;
}
.footer-nav {
    display: flex;
    margin: 10px 0 0 0;
    
}
.footer-nav li {
    list-style: none;
    margin: 15px 15px 0 15px;
}
.footer-nav li a {
    text-decoration: none;
    color: white;
}
.footer-icons a {
    margin: 20px 15px 0 0;
}
.footer-icons a i {
    color: white;
    font-size: 24px;
    padding: 4px;
}
.copyright {
    display: flex;
    justify-content: space-evenly;
    
}
.copyright h6 {
    margin: 20px 20px 20px 20px;
}